:root{
  background: #333;
  font-weight: 100;
}
/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  outline: 1px solid slategrey;
  border-radius: 30px;
}

/* Enable custom scrollbar on mobile */
@media (max-width: 2560px) {
  /* WebKit (Chrome, Safari, etc.) */
  ::-webkit-scrollbar {
    width: 0em;
    height: 0em; /* Added to ensure same size on Android */
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #22c55e;
    outline: 1px solid slategrey;
    border-radius: 30px;
  }
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url('https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=close');
  background-size: 10px 10px;
  color: #fff !important;
}